
.UserDataRows {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 20px auto;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}

.UserDataRows:hover {
  box-shadow: 1px 1px 5px #9e9e9e;
}

.UserDataRows Button {
  margin-left: auto;
}